.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

.fve-video-wrapper {
	margin: 0 0 1.25em !important;
}

.mejs-container {
	margin-bottom: 1.25rem;
}

.entry-content{
	img,
	a[href^="#"] {
		display: block;
	}
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
//@import "captions";

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
//@import "galleries";

/*--------------------------------------------------------------
## Swipe
--------------------------------------------------------------*/
@import "swipe";

/*--------------------------------------------------------------
## SVG Viewer
--------------------------------------------------------------*/
@import "viewer";
