@keyframes enable-swipe {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  1% {
    opacity: 0;
    transform: scale(1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes disable-swipe {
  100% {
    opacity: 0;
    transform: scale(0);
  }

  99% {
    opacity: 0;
    transform: scale(1);
  }

  0% {
    opacity: 1;
    transform: scale(1);
  }
}

.swipe-overlay {
  background: $color__background-body;
  bottom: 0;
  left: 14.375rem;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transform: scale(0);
}

.swipe-disabled,
.swipe-enabled {
  animation-delay: .1s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

.swipe-disabled {
  animation-name: disable-swipe;
  animation-duration: .2s;
}

.swipe-enabled {
  animation-name: enable-swipe;
  animation-duration: .3s;
}

.swipe {
  position: relative;
  overflow: hidden;
  visibility: hidden;
  max-width: 1255px;
}

.swipe-wrapper {
  overflow: hidden;
  position: relative;

  > * {
    float: left;
    width: 100%;
    position: relative;
  }

  img {
    display: block;
    width: 100%;
  }
}

.swipe-control {
  position: absolute;
  display: block;
  width: 3.125rem;
  height: auto;
  top: calc(50% - 1.875rem);

  img {
    display: block;
  }

  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}

.swipe-close {
  top: 1.25rem;
  right: 3.125rem;
}

.swipe-next {
  right: 3.125rem;
  transform: rotate(180deg);

  &:hover,
  &:focus {
    transform: rotate(180deg) scale(1.05);
  }
}

.swipe-prev {
  left: 3.125rem;
}