@keyframes enable-viewer {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  1% {
    opacity: 0;
    transform: scale(1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes disable-viewer {
  100% {
    opacity: 0;
    transform: scale(0);
  }

  99% {
    opacity: 0;
    transform: scale(1);
  }

  0% {
    opacity: 1;
    transform: scale(1);
  }
}

.svg-viewer-enabled {
  .plan-viewer-holder,
  .plan-viewer-controls {
    animation-name: enable-viewer;
  }
}

.svg-viewer-disabled {
  .plan-viewer-holder,
  .plan-viewer-controls {
    animation-name: disable-viewer;
  }
}

.plan-viewer-holder {
  background: #fff !important;
  bottom: 0;
  left: 4.25rem;
  position: fixed;
  right: 0;
  top: 0;
}

.plan-viewer-holder,
.plan-viewer-controls {
  animation-duration: .3s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  opacity: 0;
  transform: scale(0);
}

.plan-viewer-controls {
  background: #{$color__grid-light - $color__grid-dark} url('/wp-content/themes/calais-theme/assets/logo.svg') no-repeat 1.25rem 1.25rem / 1.75rem auto;
  filter: invert(100%);
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  width: 4.25rem;

  a {
    display: block;
    height: 5rem;
    position: absolute;
    left: 0;
    right: 0;
  }
  .cross-1,
  .cross-2 {
    background: $color__text-main;
    height: 1px;
  }

  .cross-1,
  .cross-2,
  svg {
    left: 33%;
    position: absolute;
    right: 33%;
  }

  svg {
    height: 5rem;
    width: 5rem;
  }

  a:hover,
  a:focus,
  a:active,
  a.active {
    filter: invert(100%);

    .cross-1,
    .cross-2 {
      background: $color__link-hover;
    }
    svg {
      fill: $color__link-hover;
    }
  }
}

.plan-viewer-zoom-out {
  top: 21rem;

  .cross-1 {
    transform: translatey(2.5rem);
  }
}

.plan-viewer-zoom-in {
  top: 15rem;

  .cross-1 {
    transform: translatey(2.5rem) rotate(90deg);
  }
  .cross-2 {
    transform: translatey(2.5rem);
  }
}

.plan-viewer-controls {
  .plan-viewer-next,
  .plan-viewer-prev {
    transform: scalex(.9);
    .cross-1,
    .cross-2 {
      height: 1.3px;
    }
    .cross-1 {
      transform: translatey(2.5rem) rotate(45deg)// scale(.8);
    }
    .cross-2 {
      transform: translatey(2.5rem) rotate(-45deg)// scale(.8);
    }
  }
}
.plan-viewer-legend {
  top: 40rem;

  svg {
    transform: translatex(-1.7rem) scale(1.1);
  }
}
#plan-viewer-legend-circle {
  display: none;
}
.plan-viewer-next {
  top: 33rem;
  transform-origin: 0;

  .cross-1,
  .cross-2 {
    transform-origin: 100%;
  }
}

.plan-viewer-prev {
  top: 27rem;
  transform-origin: 100%;

  .cross-1,
  .cross-2 {
    transform-origin: 0;
  }
}

.plan-viewer-legends-wrapper {
  bottom: 0;
  left: 4.25rem;
  overflow: auto;
  right: 0;
  top: 50%;
  padding: 1.25rem;
  position: fixed;
  transform: scale(0);
  transform-origin: 100% 0%;
  transition: transform .2s;
  z-index: 10;
  hyphens: auto;

  &.active {
    transform: scale(1);
    background-color: $color__background-body;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 2rem;
    margin: 0 0 .416rem;
  }
  .plan-viewer-meta {
    hyphens: auto;
    font-family: $font__gothic;
    font-size: .666rem;
    line-height: 1rem;
  }

  h2 {
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: initial;
    margin: .833rem 0 0;
  }

  p {
    font-size: .75em;
    line-height: 1rem;
    margin-bottom: .416rem;
  }
}
.plan-viewer-legend-item {
  transform: scale(0);

  &.active {
    transform: initial;
  }
}

@media screen and (min-width: 37.5em) {
  .plan-viewer-legends-wrapper {
    left: initial;
    padding-left: 0;
    top: 0;
    width: 14.375rem;

    &.active {
      background-color: transparent;
    }
  }
  .plan-viewer-zoom-in {
    top: 20rem;
  }
  .plan-viewer-zoom-out {
    top: 26rem;
  }
  .plan-viewer-legend {
    svg {
      transform: initial;
    }
  }
  #plan-viewer-legend-circle {
    display: initial;
  }
  .plan-viewer-controls {
    .plan-viewer-next,
    .plan-viewer-prev {
      top: 32rem;
    }
    .plan-viewer-next {
      left: 55%;

      .cross-1 {
        transform: translatex(-2rem) translatey(2.5rem) rotate(45deg) scale(1.3);
        transform-origin: 100%;
      }
      .cross-2 {
        transform: translatex(-2rem) translatey(2.5rem) rotate(-45deg) scale(1.3);
        transform-origin: 100%;
      }
    }

    .plan-viewer-prev {
      right: 55%;

      .cross-1 {
        transform: translatex(2rem) translatey(2.5rem) rotate(45deg) scale(1.3);
        transform-origin: 0;
      }
      .cross-2 {
        transform: translatex(2rem) translatey(2.5rem) rotate(-45deg) scale(1.3);
        transform-origin: 0;
      }
    }
  }
}

.plan-viewer-close {
  bottom: 5%;

  .cross-1 {
    transform: translatey(2.5rem) rotate(45deg) scale(1.4);
  }
  .cross-2 {
    transform: translatey(2.5rem) rotate(-45deg) scale(1.4);
  }
}

.plan-viewer-svg {
  width: 100%;
  height: 100%;
}

.svg-viewer-root {
  z-index: 10;
}
@media screen and (min-width: 37.5em) {

  .plan-viewer-controls {
    background-size: 4.125rem auto;
    background-position: 1.5625rem 1.25rem;
    width: 14.375rem;
  }

  .plan-viewer-holder {
    left: 14.375rem;
  }
}
