body.no-scroll {
	// Avoid unseen background scrolling when
	// the menu is opened.
	overflow: hidden;
}

.main-navigation {
	clear: both;
	display: block;
	float: left;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}
	
	li {
		position: relative;

		&:hover > a,
		&.focus > a {
			color: $color__link-hover;
			text-decoration: underline;
		}
	}
	
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a,
	.current-menu-parent > a {
		color: $color__link-hover;
	}

	button {
		background: transparent;
		border: 0 none;
		box-shadow: none;
		display: block;
		padding: 0;
		margin: 0;
		font-size: 0px;
	}

	.widget-area {
		margin-bottom: 2.5rem;
	}
}

.burger-wrapper {
	height: 1.75rem;
	margin: auto;
	position: relative;
	width: 1.75rem;

	& > span {
		background: $color__text-main;
		left: 6%;
		position: absolute;
		right: 6%;
		transition: all .1s ease-in-out;
	}
}

.burger-bun-top {
	bottom: 74%;
	top: 9%;
}
.burger-bun-bottom {
	bottom: 9%;
	top: 74%;
}
.burger-bun-filling {
	bottom: 43%;
	top: 43%;
}

button {
	&:focus {
		outline: dotted 1px;
	}

	&:hover,
	&:focus,
	&:active {
		.burger-bun-top {
			bottom: 83%;
			top: 3%;
		}
		.burger-bun-bottom {
			bottom: 3%;
			top: 83%;
		}
	}
}

.main-navigation.toggled {
	.burger-bun-filling {
		opacity: 0;
	}
	.burger-wrapper {
		& > span {
			bottom: 43%;
			top: 43%;
		}
	}
	.burger-bun-top {
		transform: rotate(45deg);
	}
	.burger-bun-bottom {
		transform: rotate(-45deg);
	}

	button {
		&:hover,
		&:focus,
		&:active {
			.burger-wrapper {
				& > span {
					bottom: 43%;
					top: 43%;
					left: 0;
					right: 0;
				}
			}
		}
	}
}

.sidebar-wrapper {
	left: 100%;
	opacity: 0;
	right: -100%;
	transition: opacity .15s ease-in-out,
				transform .15s ease-in-out;
}

/* Small menu. */
.main-navigation.toggled .sidebar-wrapper {
	opacity: 1;
	transform: translate(calc(-100% + 4.25rem));
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none !important;
	}
	.main-navigation .sidebar-wrapper {
		display: block;
		opacity: 1;
		transform: initial !important;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
