$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #1F1D20;
$color__text-input: #666;
$color__text-input-focus: #000;
$color__link: #1F1D20;
$color__link-visited: #1F1D20;
$color__link-hover: #c32890;
$color__text-main: #1F1D20;

$color__grid-dark: #000;
$color__grid-light: #fff;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
