$font__minuscule6: minuscule_6regular, serif;
$font__garaje: garaje_53_unicaseblack, sans-serif;
$font__gothic: letter_gothic_mt, sans-serif;
$font__main: $font__minuscule6;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;