.site {
  display: flex;
}

.site-content {
  flex: 1 1 auto;
  margin: 1.25em 0 1.25em 4.25em;
}

.site-header {
  flex: 0 0 auto;
  margin: 1.25em;
  font-size: 1.0467rem;
  max-width: 1.75rem;
  position: fixed;
  z-index: 1;
}

.site-title {
  margin: 0;

  & > a,
  & > span {
    display: block;
    margin: 0 auto 1.25rem;
    width: 100%;
  }

  & img {
    display: block;
  }

  & > a:hover,
  & > a:focus,
  & > a:active {
  }
}

@media screen and (max-width: 37.5em) {
  .sidebar-wrapper {
    position: fixed;
    overflow: auto;
    top: 0;
    bottom: 0;
    padding: 3.25em 1.25em 1.25em;
    background: #fff;
    background: rgba(255,255,255,.98);
  }
}

@media screen and (min-width: 37.5em) {
  .site-title {
    margin: 0 0 0 1.5625rem;
    max-width: 4.125rem;

    & > a,
    & > span {
      margin: 0 0 3.125rem;
    }

    & > a:hover,
    & > a:focus,
    & > a:active {
    }
  }

  .site-content {
    margin-left: 0;
  }

  .site-header {
    width: 14.375rem;
    margin: 1.25rem 0;
    max-width: initial;
    position: initial;

    nav {
      margin-left: 2rem;
    }
  }

}