h1, h2, h3, h4, h5, h6 {
	font-family: $font__garaje;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1;
}

.archive .page-header {
	margin: 1.25rem auto;
}

.type-calais_atlas .entry-title {
	font-size: 2.75em;
	margin: 0;
}

.not-found .entry-title {
	max-width: 93rem;
}
.not-found,
.type-page,
.type-calais_articles {
	.entry-title {
		font-size: 6.5em;
		line-height: .91;
		margin: 3.125rem 0 .375rem;
	}

	h2 {
		margin: 0;
		margin-top: 1.25rem;
		font-size: 2.0625rem;
		letter-spacing: .375rem;
		line-height: 1.3317em;
	}
}

.type-calais_articles[lang=ar] {
	.entry-title {
		font-size: 7rem;
		line-height: 1;
	}
}

.type-calais_fragments .entry-fragment-lead {
    font-size: 12em;
    margin: 5.5rem 0 0;
    line-height: 10.625rem;
	letter-spacing: -.0625rem;
    max-width: 93rem;
}
