nav {
  font-family: $font__gothic;
  font-size: larger;
  line-height: 1.7143;

  h2 {
    font-family: inherit;
    font-weight: normal;
    line-height: inherit;
    max-width: 70%;
    margin: 2.5rem 0 0 0;
  }
}
.main-navigation li {
  margin: 1rem 0;
}

.menu-navigation-generale-container {
  margin-bottom: 3.125rem;
}

@media screen and (min-width: 37.5em) {
  nav {
    font-size: .875rem;

    h2 {
      max-width: 9rem;
      margin-top: 1.25rem;
      font-size: inherit;
    }
  }
  .main-navigation li {
    margin: 0;
  }
}
