.archive,
.home {
  .site-content {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  main {
    display: flex;
    flex-wrap: wrap;
  }

  .page-header { flex: 0 0 100%; }

  .hentry {
    background-position: center center;
    background-size: cover;
    flex: 0 0 100%;
    overflow: hidden;
    position: relative;

    a {
      align-items: center;
      display: flex;
      font-family: $font__garaje;
      font-size: 8vw;
      height: calc(25vw - #{ (4.25rem) / 4 });
      justify-content: center;
      text-decoration: none;
      text-transform: uppercase;
    }

    time {
      background: transparent !important;
      font-family: $font__gothic;
      font-size: 3vw;
      position: absolute;
      right: 1em;
      text-align: right;
      top: 3.3em;
    }

    &:nth-of-type(2n) {
      time,
      a {
        color: $color__grid-dark;
        background-color: $color__grid-light;
      }
    }
    &:nth-of-type(2n+1) {
      time,
      a {
        background-color: $color__grid-dark;
        color: $color__grid-light;
      }
    }
  }

  .hentry-cover-word {
    a {
      transition: background-color  .2s ease-in-out .1s,
                  color             .2s ease-in-out .1s,
                  opacity           .2s ease-in-out .1s;
    }

    &:not(.hentry-cover-word-with-image) {
      &:nth-of-type(2n+1) {
        a:hover,
        a:focus,
        a:active {
          & + time,
          & {
            background-color: $color__grid-light;
            color: $color__grid-dark;
          }
        }
      }

      &:nth-of-type(2n) {
        a:hover,
        a:focus,
        a:active {
          & + time,
          & {
            background-color: $color__grid-dark;
            color: $color__grid-light;
          }
        }
      }
    }

    &.hentry-cover-word-with-image {
        a:hover,
        a:focus,
        a:active {
          opacity: 0;
        }
    }

  }

  .hentry-cover-image {
    span {
      transition: opacity .2s ease-in-out .1s;
      opacity: 0;
    }

    a:hover,
    a:focus,
    a:active {
      span { opacity: 1; }
    }

    a { transition: background-color .2s ease-in-out .1s; }

    &:nth-of-type(2n) {
      a { background-color: transparentize($color__grid-light, 1); }
      a:hover,
      a:focus,
      a:active {
        & + time,
        & {
          color: $color__grid-dark;
        }
      }
    }
    &:nth-of-type(2n+1) {
      a { background-color: transparentize($color__grid-dark, 1); }
      a:hover,
      a:focus,
      a:active {
        & + time,
        & {
          color: $color__grid-light;
        }
      }
    }

  }

  @mixin index-with-n-columns($n) {
    .hentry {
      flex: 0 0 #{100% / $n};

      a {
        font-size: calc((100vw - 14.375rem) / 6 / #{$n});
        height: calc((100vw - 14.375rem) / #{$n} * 3 / 4);
      }

      time {
        font-size: calc((100vw - 14.375rem) / 18 / #{$n});
      }
    }
  }

  @media screen and (min-width: 37.5em) {
    @include index-with-n-columns(3);

    .hentry {
      time {
        left: 0;
        right: 0;
        text-align: center;
        top: .5em;
        opacity: 0;
        transition: opacity .2s ease-in-out .1s;
      }

      a:hover,
      a:focus,
      a:active {
        & + time { opacity: 1; }
      }
  }

  @media screen and (min-width: 80em) {
    @include index-with-n-columns(5);
    }
  }
}

