.sticky {
	display: block;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.single article {
	display: flex;
	flex-wrap: wrap;

	header {
		width: 100%;
	}
}

.entry-content {
	img,
	svg {
		background: #eee;
		width: 100%;
		height: auto;
	}
}

.entry-fragment-footer,
.entry-fragment-lead-footer,
.entry-calais-footer {
	font-family: $font__gothic;
	font-size: .875em;
	line-height: 1.5rem;
	margin: 1.25rem 0 3.125rem;
}

.type-calais_atlas {
	.entry-content{
		max-width: 1260px; // Image sizes are fixed
		order: -1;

		a::after,
		a::before {
			background: $color__background-body;
			content: '';
			display: block;
			height: 1px;
			left: calc(50% - 2.5rem);
			opacity: 0;
			position: absolute;
			top: calc(50% - .5px);
			transition: opacity .1s;
			width: 5rem;
		}
		a::before {
			transform-origin: 50% 50%;
			transform: rotate(90deg);
		}
		a:hover {
			cursor: zoom-in;

			&::after,
			&::before {
				opacity: 1;
			}
		}
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		margin: 0 1.25rem 1.25rem 0;
	}
	
	img {
		display: block;
	}

	a {
		display: block;
		outline: none;
		position: relative;
	}

}

.entry-description {
	font-family: $font__gothic;
	margin: 1.25rem 1.25rem 0 0;
	max-width: 32.375rem;
}

.type-page,
.not-found,
.type-calais_articles {
	.entry-lead {
		margin-right: 1.5625rem;
	}

	.entry-lead,
	.entry-content {
		flex: 1 1 auto;
		max-width: 38.4375rem;
	}

	.entry-content {
		margin-right: 1.25rem;
		margin-top: .5rem;
		font-size: 1rem;
		line-height: 1.5rem;
		hyphens: auto;
	}

	.entry-abstract {
		font-size: 2.0625rem;
		line-height: 2.75rem;
		letter-spacing: -.0625rem;
		hyphens: auto;

		p {
			margin: 0;
		}
	}
}
.type-calais_articles[lang=ar] {
	max-width: 90rem;
	margin-right: 1.5625rem;

	header {
		margin-right: 1.5625rem;
	}

	.entry-abstract {
		font-size: 2.3rem;
		line-height: 3rem;
	}
	.entry-content {
		font-size: 1.25rem;
		line-height: 1.666rem;
	}
}

.type-calais_fragments {

	.entry-content {
		display: flex;
		flex-direction: column;
		max-width: 78.4375rem;
		width: 100%;
	}

	.entry-fragment {
		hyphens: auto;
		max-width: 38.4375rem;

		&:nth-last-of-type(2n) {
			align-self: flex-end;
			width: 100%;
		}

		p {
			margin: 0;
		}
	}

	address {
		opacity: .5;
	}

}

.entry-fragment-footer,
.entry-fragment-lead-footer {
	margin-top: 1.875rem;
}
.entry-fragment-lead-footer {
	margin-bottom: 6.25rem;
}

.post-categories {
	display: block;
	float: left;
	font-family: $font__garaje;
	font-size: 1.9rem;
	letter-spacing: .375rem;
	line-height: 2.75rem;
	list-style: none;
	margin: 0 .375rem 0 0;
	padding: 0;
	text-transform: uppercase;

	li {
		display: inline;
		margin-right: .1ex;
	}
	li:not(:last-child)::after {
		content: '/';
		margin-left: .3ex;
	}
	a {
		text-decoration: none;
	}
	a:hover,
	a:focus,
	a:active {
		text-decoration: underline;
	}
}

.entry-authors {
	display: inline;
	font-style: inherit;
	margin: 0;
}

// up to 175 chars.
.fragment-small > p {
	 font-size: 3.3125rem;
	 line-height: 3.5625rem;
}

// from 175 up to 340 chars.
.fragment-medium > p {
	font-size: 2.0625rem;
	line-height: 2.5rem;
}

// from 340 up to 370 chars.
.fragment-large > p {
	font-family: $font__garaje;
	text-transform: uppercase;
	font-size: 2.6875rem;
	line-height: 2.8125rem;
}

.call-for-ideas {
	.entry-title {
		margin-top: 1.25rem;
		margin-bottom: 0;
	}

	article {
		background: $color__background-body;
		float: left;
		border: 4px solid $color__text-main;
		margin: 0 1.25rem;
	}

	header {
		padding: 0 1.25rem 1.25rem;
		border-bottom: 2px solid $color__text-main;
		margin-bottom: 1.25rem;
	}

	.entry-content {
		margin: 0 1.25rem;
	}

	h2 {
		font-size: inherit;
		line-height: inherit;
		font-family: inherit;
		margin: 0;
		letter-spacing: inherit;
		text-transform: inherit;
		float: left;
	}
	h2::after {
		content: ' :';
		margin-right: .5ex;
	}
}
.call-for-ideas-background {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 4.25rem;
	z-index: -5;
	background: $color__link-hover;
}

@media screen and (min-width: 37.5em) {
	.call-for-ideas-background {
		left: 14.375rem;
	}
}
@media screen and (min-width: 60rem) {

	.call-for-ideas {
		.entry-content {
			column-count: 2;
			column-rule: 1.25rem;
			max-width: 2 * 38.4375rem;
			margin-bottom: 1.25rem;
		}
	}
}